
<div id="allAlbumsView">
<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand">Attic</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="addAlbumButton" data-toggle="modal" data-target=".bd-example-modal-sm">Add Album</a>
                </li>
                <li><a ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- END OF NAVBAR -->
<h1>ALL ALBUMS VIEW</h1>
	<!--ADD ALBUM MODAL -->
	<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog">
  		<div class="modal-dialog modal-sm">
    		<div class="modal-content">
    			<h4>Create Album</h4>
    			<!--INPUTS-->
    			<input type="text" class="form-control" placeholder="Album Name" ng-model="album">
    			 	<!--BUTTON-->
  					<button type="button" class="btn btn-default" ng-click="addAlbum()">Add Album</button>
				</div>
    		</div>
  		</div>
	</div> <!--END OF CREATE ALBUM MODAL-->
