<div id="loginView">
  <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand">Attic</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                </li>
                <li><a id="loginButton" data-toggle="modal" data-target=".bd-example-modal-sm">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- END OF NAVBAR -->
  
	
	<!--LOGIN BUTTON-->
	<!-- <button type="button" class="btn btn-info" id="loginButton" data-toggle="modal" data-target=".bd-example-modal-sm">Login</button> -->
	<!--LOGIN MODAL-->
	<div class="modal fade bd-example-modal-sm" role="dialog">
  		<div class="modal-dialog modal-md opaqueModal">
    		<div class="modal-content">
    			<!--INPUTS-->

          <input type="text" class="form-control" id="userName" placeholder="Username" ng-model="account.username" autofocus>
    			<input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="account.email">
    			 <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="account.password">
    			 <div class="btn-group" role="group">
    			 	<!--BUTTONS-->
  					<button type="button" class="btn btn-default" ng-click="userLogin()">Login</button>
  					<button type="button" class="btn btn-default" ng-click="userSignUp()">Sign up</button>
				</div>
    		</div>
  		</div>
	</div> <!--END OF LOGIN MODAL-->
  <div>
    <div id="loginText">
      <h1>WELCOME TO ATTIC</h1>
      <div class="content-slider">
        <div class="slider">
          <div class="mask">
          <ul>
            <li class="anim1">
              <div class="quote">A place to store your favorite photos.</div>
            </li>
            <li class="anim2">
              <div class="quote">A place to collaborate on albums.</div>
            </li>
          </ul>
        </div>  <!-- END OF MASK -->
      </div> <!-- END OF SLIDER -->
    </div> <!-- END OF CONTENT SLIDER -->

    </div> <!-- END OF TEXT DIV -->
    <video autoplay loop id="video-background" muted>
    <source src="video/low_def_television_hd_stock_video.mp4" type="video/mp4">
    </video>
</div>






