<div id="loginView">
  <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand">Attic</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                </li>
                <li><a id="loginButton" data-toggle="modal" data-target=".bd-example-modal-sm">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- END OF NAVBAR -->
  
	
	<!--LOGIN BUTTON-->
	<!-- <button type="button" class="btn btn-info" id="loginButton" data-toggle="modal" data-target=".bd-example-modal-sm">Login</button> -->
	<!--LOGIN MODAL-->
	<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog">
  		<div class="modal-dialog modal-sm">
    		<div class="modal-content">
    			<h4>Login or Sign up</h4>
    			<!--INPUTS-->
    			<input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="account.email">
    			 <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="account.password">
    			 <div class="btn-group" role="group">
    			 	<!--BUTTONS-->
  					<button type="button" class="btn btn-default" ng-click="userLogin()">Login</button>
  					<button type="button" class="btn btn-default" ng-click="userSignUp()">Sign up</button>
				</div>
    		</div>
  		</div>
	</div> <!--END OF LOGIN MODAL-->
  <div>
    <video autoplay loop id="video-background" muted>
    <source src="video/low_def_television_hd_stock_video.mp4" type="video/mp4">
    </video>
</div>






