<div id="albumGalleryView">
	<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" ng-click="albumView()">Attic</a>
            <img id="dropLogo" src="icons/cloud down.png" height="30px" width="30px" ng-click="ShowHide()">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                <li><img src="icons/addpeople.png" height="33px" width="33px" id="inviteButton" ng-click="inviteButton" data-toggle="modal" data-target=".bd-example-modal-sm"></li>
            	<li><img src="icons/flatCamera.png" height="33px" width="33px" id="addImageButton" ngf-select="upload($files)"></li>
                <li><a ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- END OF NAVBAR -->
<div class="pageHeader">
    <h3>{{currentAlbumName}} ALBUM</h3>
</div>


<!--IMAGE DROP AREA-->
<div>
    <!-- <img src="icons/cloud down.png" height="50px" width="50px" ng-click="ShowHide()"> -->
    <div ng-hide="IsHidden" id="dropZone" ngf-drop="uploadFiles($files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*,application/pdf'">Drop Files Here</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
</div>

<!--GALLERY SECTION TO DISPLAY IMAGES-->
<!-- <div class="row">
    <div class="col-sm-3 col-md-3 imagesCol" ng-repeat="image in images | filter:{'album' : currentAlbum}:true3"> 
        <img ng-src="{{image.image}}" height="100px" width="100px">
    </div>
</div> -->   

<!--ADDING NEW PERSON TO ALBUM MODAL -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <h4>Add a new member to this album</h4>
                <!--INPUTS-->
                <input type="email" class="form-control" placeholder="email" ng-model="invitedUser">
                <!--BUTTON-->
                <button type="button" class="btn btn-default" ng-click="inviteUser()">Add User</button>
            </div>
        </div>
    </div> <!--END OF CREATE ALBUM MODAL-->



    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="galleryBlock">
        <div id="links">
            <a href="{{image.image}}" data-gallery ng-repeat="image in images | filter:{'album' : currentAlbum}:true3">
                <img ng-src="{{image.image}}" height="100px" width="100px"  alt="image">
            </a>
        </div>
    </div> <!-- END OF ROW -->

</div> <!-- END OF PARTIAL -->












