<div id="albumGalleryView">
	<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" ng-click="albumView()">Attic</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
            	<li><a id="addImageButton" ngf-select="upload($file)">Add Images</a>
                <li><a id="addAlbumButton">Your Albums</a></li>
                <li><a ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- END OF NAVBAR -->
<div class="pageHeader">
        <h3>WELCOME TO ALBUM</h3>
    </div>

<!-- <div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div> -->
<!--IMAGE DROP AREA-->
<div id="dropZone" ngf-drop="uploadFiles($files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" 
  ngf-pattern="'image/*,application/pdf'">Drop Files Here</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>





   


       




</div> <!-- END OF PARTIAL -->












