
/* NAVBAR CSS FROM BUILDER */

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(232, 90, 113, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(69, 69, 82, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 250, 250, 1);
    background-color: rgba(69, 69, 82, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(232, 90, 113, 1);
    background-color: rgba(78, 161, 211, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(216, 233, 239, 1);
    background-color: rgba(78, 161, 211, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #4ea1d3;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #4ea1d3;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #4ea1d3;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #454552;
}

/* HOMEPAGE VIDEO REEL */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -1;
}

#loginText > h1 {
    text-align: center;
    color: #fff;
    font-size: 5em;
    margin-top: 20%;
}

/* SLIDING TEXT ON HOMESCREEN */
.content-slider {
  width: 100%;
  height: 200px;
}

.slider {
  height: 320px;
  width: 680px;
  margin: 30px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 200px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 200px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 2em;
  color: #e85a71;
  text-align: center;
  font-family: futura;
}

.slider li.anim1 {
  -moz-animation: cycle 15s linear infinite;
  -webkit-animation: cycle 15s linear infinite;
  animation: cycle 15s linear infinite;
}

.slider li.anim2 {
  -moz-animation: cycle2 15s linear infinite;
  -webkit-animation: cycle2 15s linear infinite;
  animation: cycle2 15s linear infinite;
}

@-webkit-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

 /* LOGIN MODAL */

    .modal {
      padding: 5%;
      text-align: center;
    }
   .pageHeader {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #454552;
    letter-spacing: 2em;
  }


body,
html {
  height: 100%
}

#dropZone {
  border: 3px dashed #454552;
  height: 150px;
  text-align: center;
  margin: 2%;
  padding: 2%;
  color: #e85a71;
}

#imageDropReveal {
  display: inline-block;
  margin-left: 2%;
}

#galleryBlock {
  background-color: #3e4149;
  margin: 5% 5%;
  border: 6px solid #454552;
  border-radius: 6px;
  height: 550px;
  padding: 2px;
}

.albumDiv {
  margin: 5%;
  text-align: center;
  font-family: futura;
  letter-spacing: 2px;
}

.albumLink:hover {
  color: rgba(232, 90, 113, 1); 

}  

#dropLogo {
  margin-left: 3px;
  margin-top: 8px;
}

#inviteButton {
  margin-top: 8px;
  margin-right: 10px;
}

#addImageButton {
  margin-top: 8px;
  margin-right: 10px;
  margin-left: 2px;
}






