/* NAVBAR CSS FROM BUILDER */
#custom-bootstrap-menu.navbar-default .navbar-brand {
  color: #e85a71; }

#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background-color: #454552;
  border-bottom-width: 0px; }

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
  color: snow;
  background-color: #454552; }

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
  color: #e85a71;
  background-color: #4ea1d3; }

#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
  color: #d8e9ef;
  background-color: #4ea1d3; }

#custom-bootstrap-menu.navbar-default .navbar-toggle {
  border-color: #4ea1d3; }

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
  background-color: #4ea1d3; }

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #4ea1d3; }

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #454552; }

/* HOMEPAGE VIDEO REEL */
#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; }

#loginText > h1 {
  text-align: center;
  color: #fff;
  font-size: 5em;
  margin-top: 20%; }

/* SLIDING TEXT ON HOMESCREEN */
.content-slider {
  width: 100%;
  height: 200px; }

.slider {
  height: 320px;
  width: 680px;
  margin: 30px auto 0;
  overflow: visible;
  position: relative; }

.mask {
  overflow: hidden;
  height: 200px; }

.slider ul {
  margin: 0;
  padding: 0;
  position: relative; }

.slider li {
  width: 680px;
  height: 200px;
  position: absolute;
  top: -325px;
  list-style: none; }

.slider .quote {
  font-size: 2em;
  color: #e85a71;
  text-align: center;
  font-family: futura; }

.slider li.anim1 {
  -moz-animation: cycle 15s linear infinite;
  -webkit-animation: cycle 15s linear infinite;
  animation: cycle 15s linear infinite; }

.slider li.anim2 {
  -moz-animation: cycle2 15s linear infinite;
  -webkit-animation: cycle2 15s linear infinite;
  animation: cycle2 15s linear infinite; }

@-webkit-keyframes cycle {
  0% {
    top: 0px; }
  4% {
    top: 0px; }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0; }
  96% {
    top: -325px;
    opacity: 0; }
  100% {
    top: 0px;
    opacity: 1; } }

@-webkit-keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0; }
  16% {
    top: -325px;
    opacity: 0; }
  20% {
    top: 0px;
    opacity: 1; }
  24% {
    top: 0px;
    opacity: 1; }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0; }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1; } }

/* LOGIN MODAL */
.modal {
  padding: 5%;
  text-align: center; }

/* PAGE HEADER */
.pageHeader {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #454552;
  letter-spacing: 2em; }

/* MODALS */
.modal-content {
  padding: 10px;
  margin: 10px; }

.modal-content > input {
  margin: 5px;
  text-align: center;
  font-family: futura;
  font-weight: bold; }

.modal-dialog {
  opacity: 0.8; }

/* BODY */
body,
html {
  height: 100%; }

/* DROPZONE FOR FILE UPLOAD */
#dropZone {
  border: 3px dashed #454552;
  height: 150px;
  text-align: center;
  margin: 2%;
  padding: 2%;
  color: #e85a71; }

#imageDropReveal {
  display: inline-block;
  margin-left: 2%; }

#dropLogo {
  margin-left: 3px;
  margin-top: 8px; }

/* MAIN GALLERY BLOCK */
#galleryBlock {
  background-color: #3e4149;
  margin: 5% 5%;
  border: 6px solid #3e4149;
  border-radius: 6px;
  height: 550px;
  padding: 2px;
  box-shadow: 10px 10px 5px #888888; }

#galleryBlock > a {
  margin: 4px; }

#galleryBlock > img {
  margin-bottom: 4px; }

/* ALBUM PAGE VIEW */
#albumGalleryView {
  background: url("../icons/background.png");
  position: center; }

.albumDiv {
  margin: 5%;
  text-align: center;
  font-family: futura;
  letter-spacing: 2px; }

.albumLink:hover {
  color: #e85a71; }

.albumCol:hover {
  border: 3px solid #3e4149;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 10px 10px 5px #888888; }

/* INVITE USERS BUTTON */
#inviteButton {
  margin-top: 8px;
  margin-right: 10px; }

/* ADD IMAGE BUTTON */
#addImageButton {
  margin-top: 8px;
  margin-left: 2px; }

/* FANCY BOX MODAL VIEW */
.fancybox-title iframe {
  min-height: 30px;
  vertical-align: middle; }

#downloadLink {
  /*  margin-left: 90%;
  margin-top: 30%;*/ }

/* LOADING GIF */
#loadingImage {
  text-align: center;
  margin-top: 5%; }

#loadingImage > img {
  border-radius: 6px; }

.nav {
  cursor: pointer; }

.navbar-brand {
  cursor: pointer; }

#dropLogo {
  cursor: pointer; }
